body {
  font-family: 'Permanent Marker', cursive;
  background: #198786;
}

img {
  width: 140px;
}

#header {
  padding: 70px 0;
  text-align: center;
  background-color: #ffce5d;
}

#footer {
  color: #222;
  background-color: #ffce5d;
}

#footer h4 {
  width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

#country {
  font-size: 2.5em;
  color: #f6f792;
}

#header .information {
  font-size: 3em;
  color: #c0442c;
}

h1 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-size: 4.5em;
  color: #222;
}

h2 {
  margin: 0;
  font-size: 2.5em;
  color: #198786;
  text-shadow: -2px 0 #222, 0 2px #222, 2px 0 #222, 0 -2px #222;
}

p {
  position: relative;
  top: -10px;
  padding: 0;
  margin: 0;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 40px;
}

#header-info {
  width: 1000px;
  margin: 0 auto;
}

#pie-chart {
  display: inline-block;
  vertical-align: top;
}

#pie-chart svg {
  position: relative;
  top: -30px;
}

#statistic {
  display: inline-block;
  vertical-align: top;
}

#map {
  padding-bottom: 30px;
}

#map svg {
  width: 100%;
  height: 660px;
  margin-top: 10px;
}

.numbers {
  display: inline-block;
  margin-left: 20px;
  line-height: 1.2em;
  text-align: center;
  vertical-align: super;
}

.numbers a {
  display: block;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
  color: #198786;
  text-shadow: -2px 0 #222, 0 2px #222, 2px 0 #222, 0 -2px #222;
}

a:visited, a {
  color: #c0442c;
}

#map g:hover path {
  fill: #efb1b1 !important;
}

#map path:hover {
  fill: #efb1b1 !important;
}
