body {
  font-family: 'Fresca', sans-serif;
  background-color: rgba(51, 55, 68, 0.7);
}

#header {
  padding: 10px;
  height: 400px;
  text-align: center;
  background-color: black;
}

#footer {
  color: #F6F792;
  background-color: black;
}

#footer h4 {
  padding: 20px 0;
  width: 1200px;
  margin: 0 auto;
  font-size: 1.5em;
}

#header svg {
  float: left;
}

#statistic {
  width: 400px;
  float: left;
}

#country {
  color: #F6F792;
  font-size: 2.5em;
  top: 40px;
  left: 550px;
  position: absolute;
}

#country-relative {
  position: relative;
}

#header .information {
  color: #EA2E49;
  font-size: 1.8em;
  position: relative;
  top: 15px;
}

h1 {
  font-size: 3.5em;
  color: #F6F792;
}

h2 {
  font-size: 2.5em;
  color: #DAEDE2;
  margin-top: 0;
}

#header-info {
  width: 700px;
  margin: 0 auto;
}

#pie-chart {
  width: 250px;
  top: 30px;
  position: relative;
}

#map {
  border-top: 4px dotted black;
  border-bottom: 4px dotted black;
  padding-bottom: 30px;
}

#map svg {
  margin-top: 10px;
  width: 1200px;
  height: 800px;
  margin: 0 35px;
}

path.hover {
  fill: #F6F792 !important;
}

